*{margin:0; padding:0; outline:0}
body{
  font-family:arial; 
  font-size:18px;
  line-height:20px;
  color:#000; 
  background: url(images/background.jpg)repeat scroll  0 0 #D3D3D3;
 
  }
 


.templete{width:1460px ; margin:0 auto; }
.clear{overflow:hidden}
input[type="text"], input[type="email"]{
    width: 300px;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid #39c2ff;
    border-radius: 5px;
}
textarea {
    width: 300px;
    height: 80px;
    padding: 5px;
    border: 2px solid #39c2ff;
    border-radius: 5px;
}

input[type="submit"] {
    background: #0F7E85;
    border: 1px solid #58a9cd;
    padding: 5px 21px;
    float: right;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover{
  color: black;

}


.headersection{
    background:#007E85;
    color:#fff
}
 
 .logo {
     float: left;
     width: 500px;
    }
 .logo img{
    float: left;
     height: 120px;
     margin-right: 20px;

 }
 .logo h2{
      font-size: 32px;
      margin-top: 30px;
      text-shadow: 3px 2px 20px black;
 }
 .logo p{
    margin-top: 10px;
    color: gray;
  }



 .social{
    width:  ;
    height: 100px;
    float: right;
 }
 .social img{
    height: 65px;
    width: 65px;
    padding-top: 20px;
 
 }
 

.navigation {
    height: ;
    background: #123544;
    color: #fff;
    min-height: 36px;
}

.navigation  ul{margin:0; padding:0; list-style:none;}
.navigation ul li{
  float:left; 
  display:block;
  position:relative;
}

.navigation ul li:first-child{margin-left: 3px;}
 

.navigation ul li a {
    display: block;
    border: 1px solid #98a5ab;
    text-decoration: none;
    color: white;
    margin-right: 2px;
    margin-left:2px;
    padding: 5px 25px;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius:5px;
    
}

 
.navigation ul li a:hover,#active{
background:#2CA550;
color:black;
}




.navigation ul li ul{
  position:absolute;
  left: -99999999999999px
 }

.navigation ul li:hover ul{
  left:0px;

}
.navigation ul li ul li{
  background:#406372;
  color:black;
  width:200px;
  margin-left:3px;
  float: none;

 }
.navigation ul li ul li a{
  border: none;
  border-radius:0px;
  margin:0px;
  margin-top: 2px;
  -o-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25s;

 } 




 

.slidersection {
    margin-bottom: 0px;
    box-shadow: 5px 0px 20px 0px #333;
}


.slider img{
 }
 

.contain{background:#98a5ab; }
.maincontain {
    width: 1018px;
    float: left;
    background: #37475B;
    padding: 10px;
    margin-left: 0;
    color: white;
    border: 1px solid black;
}


.about{
   
}
.about img {
    float: left;
    width: 400px;
    margin-right: 10px;
    border: 1px solid white;
    height: 200px;
}
.about p{
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  text-align: justify;

}
.relatedpost{
}

.relatedpost h2 {
    background: #3F816B;
    color: #D6F0FF !important;
}

.relatedpost img {
    width: 321px;
    height: 213px;
    margin: 5px;
}

.relatedpost img:hover{
  opacity: 0.5;

}


 



.samepost {
}
.samepost h2 ,.about h2{
font-size:24px;
color:white;
padding:5px  ;
margin: 10px;
margin-left:0;
border-bottom:1px solid gray;
width:auto;

}
.samepost img {
 
width:300px;
height:200px;
float:left;
margin-right:10px;
padding:1px;
background:white;
border:1px solid #808080;
}
.samepost p{
font-size:20px;
line-height:24px;
text-align:justify;
}
.readmore{float:right;}
.readmore a{
color:powderblue;
text-decoration:none;
background:gray;
padding:3px ;
display:block;
margin:5px;
border-radius:3px;

}
.readmore a:hover{
color:gray ;
background:powderblue;
}
 

.sidebar{float:right; width:400px; background:#123544; margin:0px; padding:8px;
margin-right:0; border:1px solid black;}
.sidebar p{color:green;}
.sidebar h2 {
    color: #6b2d0a;
    margin-bottom: 1px;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #FF5739;
}
.sidebar hr{margin-bottom:10px;margin-top:5px}

.anothersidebar1{
border: 1px solid  black ;
padding-bottom: 80px;
}
.anothersidebar1 h2{
  color:  #e16231;

}
.anothersidebar1 ul{
  padding: 0;
  margin:0;
  list-style: none;
 
  
}
.anothersidebar1 ul li{
  background: #647C72;
  padding: 3px 20px;
  border-bottom: 1px dashed #133544;
  padding-left:2px;
}
.anothersidebar1 ul li:last-child { border-bottom: 0px dashed #133544;}

.anothersidebar1 ul li a{
  text-decoration: none;
  color: #000134;

  
}
.anothersidebar1 ul li a:hover{
  color: white;
}
.anothersidebar2 h2{
  color:#FF5535 ;
  text-decoration: none;
}

.popular{
 }
.popular h3 a {
    font-size: 20px;
    color: #b4ca5d;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px dashed #7f8cc0;
}
.popular img {
    height: 50px;
    width: 100px;
    float: left;
    margin: 5px;
    border: 1px solid #f8e1b8;
    border-radius: 2px;
}
.popular p{
text-align: justify;
 }


.footer{
  height:80px; 
  background:#007E85; 
  color:#ff
 }
.footer p{
    text-align:center;


}
.footermenu{
}
.footermenu ul {
    padding: 0;
    list-style: none;
    margin-top:15px;
    text-align: center;
    margin-bottom: 15px;
 }
.footermenu ul li{
   display: inline-block;

}
.footermenu ul li a{
      text-decoration:none;
      color: black;
      font-size: 22px;
      border: 1px solid white;
      border-radius: 5px;
      margin:5px;
      padding:2px 10px;



}
.fixedicon{
  position: fixed;
  right: 0;
  bottom: 5px;
 }
.fixedicon img{

}














.page-under-development p {
    text-align: center;
    font-size: 32px;
    color: #4326db;
    margin-top: 50px;
    text-shadow: 3px -1px 20px #493b3b;
}

  
